
<div class="container">

  <h1 style="color:olive">idea</h1>

  <p><b>Forocurro.com</b> es una aplicación web que enfoca
    la búsqueda de empleo como una actividad colaborativa.</p>
  <p>Todos en algún momento percibimos la búsqueda de empleo como 
    una actividad competitiva en la que parece que minimizar
    la información que compartimos al respecto 
    (<i>especialmente entre otros candidatos potenciales</i>)  
    juega a nuestro favor de cara a superar un proceso de selección.</p>

  <br/>
  <p>No obstante, pensemos detenidamente en las posibilidades ...</p>
  
  <br/>
  <p><b>Ejemplo:</b> <i>Te inscribes a 20 ofertas de infojobs y en cada una 
      de ellas hay una media de 5 candidatos ya inscritos 
      y quizá dispongas de información
      adicional sobre alguna de ellas; puede que te hayan descartado tras
      una primera entrevista o simplemente quieras compartir tu opinión
      sobre alguna de las ofertas con los demás candidatos interesados o incluso quizá
      atraer nuevos candidatos hacia una oferta en la que tú mism@ estás inscrito 
      ... podría parecer de locos hacerlo ¿no?</i></p>

  <br/>
  <p>Pues quizá no lo sea tanto y es la idea que mueve esta web: tratar de descubrir
    si puede ser una buena idea aprovechar la información que pueda aportar 
    cada uno de los candidatos
    a esas 20 ofertas en las que estás inscrit@ aún a costa de quizá ayudar a otros
    a competir contigo y/o atraer a posibles candidatos a ofertas en las que puedas
    estar interesad@; pero claro, puede haber mucho a ganar en términos de reciprocidad
    y siempre teniendo en cuenta que si alguien supera el proceso de selección idóneo
    pasa a dejar de competir y por tanto hace aumentar nuestras posibilidades de éxito.</p>
  
  
<!--  <h1 style="color:olive">características</h1>
  <p> ...</p>-->

</div>
