<div class="container">
  <center>
    {{#if fail}}
    <p style="font-size:11pt;text-align:center;color:red">{{fail}}</p>
    <br/>
    {{/if}}
    <form class="form-signin" method="POST" enctype="application/x-www-form-urlencoded" action="/sendPassword">
      <input id="email" style="width:240px;" name="email" class="form-control" placeholder="Nick o Email" required></input>
      <br/>
      <button style="width:240px;" class="btn btn-lg btn-primary btn-block" type="submit">Recuperar password</button>
  </center>
  </form>
</div>
