<form class="form-signin" method="GET" enctype="application/x-www-form-urlencoded" action="/signout">
  {{#if nick}}
  <p style="text-align:center">Logged in as {{nick}}</p>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign out</button>
  {{/if}}
</form>
