<div class="container">
<br/>
  <form id="form" class="form-signin" method="POST" enctype="application/x-www-form-urlencoded" action="/register">
    <center>
      {{#if fail}}
      <p style="text-align:center;color:red">{{fail}}</p>
      {{/if}}
      <input id="nick" style="width:240px;" name="nick" class="form-control" placeholder="Nick" required></input>
      <br/>
      <input type="email" style="width:240px;" name="email" id="email" class="form-control" placeholder="Email" 
	     required></input>
      <br/>
      <input style="width:240px;" type="password" name="password" id="password" class="form-control" placeholder="Password" required></input>
      <br/>
      <input style="width:240px;" type="password" name="rpassword" id="rpassword" class="form-control" placeholder="Password otra vez" required></input>
      <br/>
      <input style="width:240px;" type="password" name="promo" id="promo" class="form-control" placeholder="Código promocional"></input>
      <br/>
      <button style="width:240px;" class="btn btn-lg btn-success btn-block" type="submit">Regístrate</button>
    </center>
  </form>
  <h1>Política de cookies</h1>
  <p>Este Web utiliza cookies propias y de terceros 
    para ofrecerle una mejor experiencia y servicio. 
    Al navegar o utilizar nuestros servicios el usuario 
    acepta el uso que hacemos de las cookies. 
    Sin embargo, el usuario tiene la opción de impedir 
    la generación de cookies y la eliminación de las mismas mediante 
    la selección de la correspondiente opción en su Navegador. 
    En caso de bloquear el uso de cookies en su navegador 
    es posible que algunos servicios o funcionalidades de 
    la página Web no estén disponibles.</p>
</div>
