<div class="container">
  <form id="form" class="form-signin" method="POST" enctype="application/x-www-form-urlencoded" action="/register">
    <center>
      {{#if fail}}
      <p style="text-align:center;color:red">{{fail}}</p>
      {{/if}}
      <input id="nick" style="width:240px;" name="nick" class="form-control" placeholder="Nick" required></input>
      <br/>
      <input type="email" style="width:240px;" name="email" id="email" class="form-control" placeholder="Email" 
	     required></input>
      <br/>
      <input style="width:240px;" type="password" name="password" id="password" class="form-control" placeholder="Password" required></input>
      <br/>
      <input style="width:240px;" type="password" name="rpassword" id="rpassword" class="form-control" placeholder="Password otra vez" required></input>
      <br/>
      <button style="width:240px;" class="btn btn-lg btn-success btn-block" type="submit">Regístrate</button>
    </center>
  </form>
</div>
