<div class="container">

<h1 style="color:olive">Sobre los datos de los usuarios (LOPD)</h1>

<p>El titular podrá ejercitar (si lo desea) los derechos reconocidos en la LOPD 
sobre este fichero, siempre y cuando se trate de información PRIVADA. 
Los usuarios pueden realizar estas acciones enviando una solicitud a freising.denuevo @ gmail.com.</p>

<p>Las empresas que llevan las estadísticas de acceso a forocurro.com (Google), podrán usar cookies con fines estadísticos. 
Los usuarios pueden eliminarlos o impedir el envío de esos cookies desde las opciones de su navegador.</p>

<h1 style="color:olive">Información pública y privada</h1>

<p>Los ficheros de forocurro.com contienen:</p>

<p>Información privada: IP utilizada para cualquier actividad en forocurro.com. Los gestores de forocurro.com 
conservan estos datos con el objetivo de mantener la coherencia de toda la actividad realizada en el sitio.</p>

<p>Información pública: Toda actividad (anteriormente descrita) realizada voluntariamente por el propio usuario en el sitio web.</p>

<p>Los administradores y propietarios de forocurro.com no garantizan la licitud, fiabilidad, exactitud, exhaustividad, 
actualidad y utilidad de los contenidos.</p>

<p>El establecimiento de un hiperenlace, enlace, intercambio, no implica en ningún caso la existencia de relaciones 
entre los administradores de forocurro.com y el propietario del lugar web con la que se establezca, ni la aceptación y aprobación 
de sus contenidos o servicios.</p>

<p>Los administradores de forocurro.com excluyen toda responsabilidad en los sitios enlazados desde 
esta web y no pueden controlar y no controlan que entre ellos aparezcan sitios de Internet cuyos contenidos puedan resultar 
ilícitos, ilegales, contrarios a la moral o a las buenas costumbres o inapropiados. El usuario, por tanto, 
debe extremar la prudencia en la valoración y utilización 
de la información, contenidos y servicios existentes en los sitios enlazados.</p>

</div>
